<div class="container">
  <div [style.margin-top.px]="10" class="row">
      <h3>Login</h3>
      <form class="form-inline">
      <div class="form-group">
        <label for="name">Email:</label>
        <input type="text" class="form-control" id="userEmail" #userEmail>
      </div>
      <div class="form-group">
        <label for="name">Password:</label>
        <input type="password" class="form-control" id="userPassword" #userPassword>
      </div>
      <button type="button" (click)="loginUser(userEmail, userPassword)" class="btn btn-primary">Login</button>
      </form>
  </div>
  <div [style.margin-top.px]="10" class="row">
      <h3>Get Weights for a User</h3>
      <form class="form-inline">
      <div class="form-group">
        <label for="name">User ID:</label>
        <input type="text" class="form-control" id="userIdWeight" #userIdWeight>
      </div>
      <button type="button" (click)="getWeightsForUser(userIdWeight)" class="btn btn-primary">Get Weights</button>
      </form>
  </div>
  <div [style.margin-top.px]="10" class="row">
      <h3>Get Activities for a User</h3>
      <form class="form-inline">
      <div class="form-group">
        <label for="name">User ID:</label>
        <input type="text" class="form-control" id="userIdActivity" #userIdActivity>
      </div>
      <button type="button" (click)="getActivitiesForUser(userIdActivity)" class="btn btn-primary">Get Activities</button>
      </form>
  </div>
  <div [style.margin-top.px]="10" class="row">
    <h3>Add New Person!</h3>
    <form class="form-inline">
      <div class="form-group">
        <label for="name">Email</label>
        <input type="text" class="form-control" id="email" #email>
      </div>
      <div class="form-group">
        <label for="name">First Name</label>
        <input type="text" class="form-control" id="firstName" #firstName>
      </div>
      <div class="form-group">
        <label for="name">Last Name</label>
        <input type="text" class="form-control" id="lastName" #lastName>
      </div>
      <div class="form-group">
        <label for="name">Password</label>
        <input type="password" class="form-control" id="password" #password>
      </div>
      <button type="button" (click)="addPerson(email, firstName, lastName, password)" class="btn btn-primary">Add Person</button>
    </form>
  </div>
  <div [style.margin-top.px]="10" class="row">
    <h3>Add New Activity!</h3>
    <form class="form-inline">
      <div class="form-group">
        <label for="name">User ID</label>
        <input type="text" class="form-control" id="activityUserId" #activityUserId>
      </div>
      <div class="form-group">
        <label for="name">Date Time</label>
        <input type="text" class="form-control" id="activityDateTime" #activityDateTime>
      </div>
      <div class="form-group">
        <label for="name">Description</label>
        <input type="text" class="form-control" id="description" #description>
      </div>
      <div class="form-group">
        <label for="name">Weight Value</label>
        <input type="text" class="form-control" id="weightValue" #weightValue>
      </div>
      <button type="button" (click)="addActivity(activityUserId, activityDateTime, description, weightValue)" class="btn btn-primary">Add Activity</button>
    </form>
  </div>
  <div [style.margin-top.px]="10" class="row">
    <h3>Add New Weight!</h3>
    <form class="form-inline">
      <div class="form-group">
        <label for="name">User ID</label>
        <input type="text" class="form-control" id="weightUserId" #weightUserId>
      </div>
      <div class="form-group">
        <label for="name">Date Time</label>
        <input type="text" class="form-control" id="weightDateTime" #weightDateTime>
      </div>
      <div class="form-group">
        <label for="name">Weight</label>
        <input type="text" class="form-control" id="weight" #weight>
      </div>
      <button type="button" (click)="addWeight(weightUserId, weightDateTime, weight)" class="btn btn-primary">Add Weight</button>
    </form>
  </div>
  <div [style.margin-top.px]="10" class="row">
    <h3>People</h3>
    <!-- Bootstrap Card -->
    <div [style.margin-right.px]="10" class="card card-block col-md-3" *ngFor="let person of people">
        <h5 class="card-title">{{person._id}}  {{person.email}}
            {{person.firstName}} {{person.lastName}} {{person.created}} {{person.password}}
            <span class="deleteField" (click)="deleteField('person', person._id)">X</span>
        </h5>
    </div>
    <h3>Activities</h3>
    <div [style.margin-right.px]="10" class="card card-block col-md-3" *ngFor="let activity of activities">
        <h5 class="card-title">{{activity._id}}  {{activity.userId}}
            {{activity.dateTime}} {{activity.description}}
            {{activity.weightValue}} {{activity.syncedDateTime}}
            <span class="deleteField" (click)="deleteField('activity', activity._id)">X</span>
        </h5>
    </div>
    <h3>Weights</h3>
    <div [style.margin-right.px]="10" class="card card-block col-md-3" *ngFor="let weight of weights">
        <h5 class="card-title">{{weight._id}}  {{weight.userId}}
            {{weight.dateTime}} {{weight.weight}} {{weight.syncedDateTime}}
            <span class="deleteField" (click)="deleteField('weight', weight._id)">X</span>
        </h5>
    </div>
  </div>
</div>
